body.page--home main {

  div.container {

    background-color: $primaryTranslucentHOME;

  }

  div.wrapper {

    padding-top: 100px;
    padding-bottom: 100px;

    min-height: calc(100vh - ( 79px + 238px));

    display: flex;
    justify-content: space-between;

  }

  h2 {

    font-size: $h1FontSize;
    padding-bottom: $marginTop;

  }

  p {

    max-width: 310px;

  }

  a.action-button:last-of-type {

    margin-bottom: 0px;

  }

  div.left {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  div.right{


    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: -55px;

    padding-right: 10px;
    margin-right: -10px;

    a.anchor-button.view-all {

      text-align: right;
      height: 20px;
      margin-top: 25px;
      display: inline-block;
      float: right;

      color: $primary;

    }


  }

}