a.anchor-button {

  font-family: $fontHeadingAndActions;
  font-size: $baseFontSize;

  color: $grey;

  text-transform: uppercase;

  text-decoration: none;
  text-decoration-line: none;

  &:hover , &:focus {

    text-decoration: underline;
    text-decoration-line: underline;

  }

  &:not([href]) {
    &:hover , &:focus {

      text-decoration: none;
      text-decoration-line: none;

    }
  }

}

a.action-button {

  margin: 25px 0;

  cursor: pointer;

  width: 310px;
  height: 75px;
  display: block;

  text-decoration: none;
  text-decoration-line: none;

  position: relative;

  &::after {

    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    height: 20px;
    width: 20px;

    background-image: url("./../icons/arrow.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;


  }

  div.button-wrapper {

    padding: 0 20px;
    width: 310px;
    height: 75px;

    background-color: $primary;

    display: flex;
    align-items: center;

    position: relative;

    div.icon {

      height: 40px;
      width: 40px;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }

  }

  &:hover, &:focus {

    text-decoration: none;
    text-decoration-line: none;

    div span {

      left: 10px;
      transition: left .2s;

    }

  }

  span {

    transition: left .2s;
    position: relative;
    left: 0;

    padding-left: 20px;

    display: block;

    text-transform: uppercase;
    font-family: $fontHeadingAndActions;
    font-size: $baseFontSize;
    color: $base;

  }

  &.no-icon {

    span {

      padding-left: 0;

    }

  }

}