div.smalllogo {

  height: 60px;
  width: 150px;
  background-image: url("./../../usercontent/fixedlogos/smalllogo.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;

}

div.homelogo {

  height: 108px;
  width: 200px;
  background-image: url("./../../usercontent/fixedlogos/logo.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;

}