@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Italic.ttf");
  font-style: oblique;
}
@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway-Bold.ttf");
}